@model HomeModel

@{
    ViewData["Title"] = "Home";
}

<!-- carousel -->
<div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @foreach (var sl in Model.Sliders)
        {
            <div class="item @sl.Activ">
                <div class="description">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1><em>@sl.Title1</em><br class="hidden-xs"> <span>@sl.Title2</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="~/images/@sl.Image" alt="image description">
            </div>
        }
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev"></a>
    <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next"></a>
</div>
<!-- reservation-bar -->
<div class="reservation-bar">
    <div class="container">
        <div class="row">
            <form action="#">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-append date" id="dpd1" data-date="Check In" data-date-format="dd-mm-yyyy">
                                <input class="form-control" size="16" type="text" value="Arrive date">
                                <span class="icon-calendar"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-append date" id="dpd2" data-date="Check Out" data-date-format="dd-mm-yyyy">
                                <input class="form-control" size="16" type="text" value="Departure date">
                                <span class="icon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="fake-select">
                                    <select>
                                        <option value="Adult" selected>Adult</option>
                                        <option>Children</option>
                                        <option>Option3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="fake-select">
                                    <select>
                                        <option value="Room" selected>Room</option>
                                        <option>Option2</option>
                                        <option>Option3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <input type="submit" class="btn btn-default" value="check availability">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- contain main informative part of the site -->
<main id="main">
    <!-- about -->
    <section class="about container b-padding">
        <div class="row">
            <header class="header col-xs-12 g-padding">
                <h1>A few words</h1>
            </header>
        </div>
        <div class="row">
            @foreach (var few in Model.AFewWordss)
            {
                <div class="col-sm-4 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                <div class="box">
                    <div class="icon @few.Icon"></div>
                    <h2>@few.TitleSmall</h2>
                    <p>@few.Description</p>
                </div>
               </div>
            }
        </div>
    </section>
    <!-- Our room -->
    <section class="our-room">
            <div class="image-frame" style="background-image: url(images/image-03.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-block pull-right animate" data-anim-type="fadeInRight" data-anim-delay="300">
                        <h1>Our room - deluxe double</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="row">
                            <ul class="list-unstyled list col-sm-6">
                                @foreach (var our in Model.OurRooms)
                                {
                                    <li>@our.Inside1</li>
                                }
                                </ul>
                            <ul class="list-unstyled list col-sm-6">
                                @foreach (var our in Model.OurRooms)
                                {
                                    <li>@our.Inside2</li>
                                }
                            </ul>
                        </div>
                        <ul class="list-inline services-list">
                            @foreach (var our in Model.OurRooms)
                            {
                                <li><span class="icon @our.Icon"></span>@our.IconWords</li>
                            }
                            </ul>
                            <a href="#" class="btn btn-default">Book Now</a>
                        </div>
                    </div>
            </div>
    </section>
    <!-- restaurant -->
    <section class="restaurant" style="background-image: url(images/pattern.jpg);">
        @foreach (var rest in Model.Restaurants)
        {
            <div class="container add-padding">
                <div class="row">
                    <div class="col-sm-6 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                        <div class="text-box">
                            <h1>@rest.Title</h1>
                            <p>@rest.Description</p>
                            <a href="#" class="btn btn-default">Book Now</a>
                        </div>
                    </div>
                    <div class="col-sm-6 animate" data-anim-type="fadeInUp" data-anim-delay="600">

                        <div class="image-frame">

                            <img src="~/images/@rest.Image" alt="image description">
                        </div>


                    </div>
                </div>
            </div>
        }

    </section>
    <!-- Fun facts -->
    <section class="fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="counter-list horizon" data-animate-in="scale:1.2;">

                        @foreach (var cnt in Model.Counts)
                        {
                        <div class="grid-item">
                            <div class="counter-wrapper">
                                <strong class="number counter">
                                    <span id="s1" class="stats" data-count-from="@cnt.CountFrom" data-count-to="@cnt.CountTo">7892</span>
                                </strong>
                                <span class="title">@cnt.Title</span>
                            </div>
                        </div>
                         }
                           
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our news -->
    <section class="news container b-padding">
        <div class="row">
         
            <header class="header col-xs-12 g-padding">
                <h1>our news</h1>
            </header>
            
            
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- carousel -->
                <div id="carousel-example-generic2" class="carousel slide news" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @foreach (var news in Model.OurNewss)
                        {
                            <div class="item @news.Activ">
                                <div class="col-sm-8 col">
                                    <div class="image-holder">
                                        <a href="images/@news.ImageModal" class="fancybox">
                                            <img src="~/images/@news.Image" alt="image description">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col">
                                    <div class="carousel-caption">
                                        <h2>@news.TitlePicture</h2>
                                        <p>@news.Description1</p>
                                        <p>@news.Description2</p>
                                        <a href="#" class="btn btn-default">read more</a>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                    <!-- Indicators -->
                    <div class="indicators col-sm-4">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

